<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col">
      <h1>Parser</h1>

      <%= form_tag satellite_parse_path, method: :patch do |form| %>
      <p>
        <%= text_area_tag(:downlink_body, "{\n\s\s\n}", size: "50x30") %>
      </p>
      <p>
        <%= submit_tag 'Parse' %>
      </p>
      <% end %>
    </div>
  </div>
</div>
